{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
    <br/>
    <br/>
        <div class="row">
            <div class = "col-md-8 block splash">
                <div class="col-lg-12">
                    <div class="splash-box">
                    <h1><strong>Call for Abstracts</strong></h1>
                    <h3>Abstract Deadline: 11 Dec 2015</h3>
                    <h4>PVSAT invites you to submit abstracts for papers on the following themes:</h4>
                    <ol>
                    {% for theme in themes %}
					<li>{{theme.title}}</li>
                    {% endfor %}
                    </ol>
                    <br/>
                    <a class="btn btn-primary page-scroll" href="{% url 'submit_abstract' %}">Submit an Abstract</a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="square-box speaker-box block">
                    <h1>Guest Speakers</h1>
                    <br/>
                    {% for speaker in speakers %}
                        <div class="col-md-3 col-sm-4 col-xs-6 center block">
                                {% thumbnail speaker.pic "300x300" crop="center" as im %}
                                <img class="profile-pic" src="{{im.url}}">
                                <p>{{speaker.forename}}
                                   {{speaker.surname}}
                                   </br>
                                   ({{speaker.affiliation}})</p>
                                {% endthumbnail %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <br/>
            
            <div class="col-md-4">
                <div class="col-lg-12">
                    <div class="test-box block">
                    <h1>Exhibitors</h1>
                    <p>Exhibitor logos + exhibitor link to registration from to go in here</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="test-box block">
                    <h1>Sponsors</h1>
                    <p>Sponsor logos + link sponsor registration form to go in here</p>
                    </div>
                </div>
            </div>

			</div>
		</div>
{% endblock %}
